body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team .team-item .team-item__list, .team .team-item .team-item__title, .team .team-item .team-item__description, .team .team__title, .activities .activities__title {
  display: flex;
  justify-content: center;
}

.hero .form .form-checkbox {
  display: flex;
  flex-direction: row-reverse;
}

.body {
  font-family: "Roboto";
  overflow-x: hidden;
}

main {
  min-width: 320px;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.main-container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .main-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .main-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .main-container {
    width: 1600px;
  }
}

.hero-button, .hero-form-button, .footer-container-third-list-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--color-one);
  color: white;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px;
  cursor: pointer;
}

.header > .container {
  display: flex;
  align-items: center;
  position: relative;
  /* margin-left: 215px; */
}

.header {
  background-color: rgb(255, 255, 255);
  padding-top: 17px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(236, 236, 236);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header .header-nav {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header .header-nav {
    margin-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .header .header-nav {
    margin-right: 318px;
  }
}
.header .header-nav .header-nav-container {
  position: absolute;
  margin-left: 90%;
}
@media screen and (min-width: 768px) {
  .header .header-nav .header-nav-container {
    display: none;
  }
}
.header .header-nav .header-nav-container .header-nav-container__input {
  display: none;
}
.header .header-nav .header-nav-container .header-nav-label__button-close {
  display: none;
}
.header .header-nav .header-nav-container .header-nav-container__input:checked ~ .header-nav-container-second > .header-nav-container-list {
  display: flex;
}
.header .header-nav .header-nav-container .header-nav-container__input:checked ~ .header-nav-container-second > .header-nav-container-social-list {
  display: flex;
}
.header .header-nav .header-nav-container .header-nav-container__input:checked ~ .header-nav-label > .header-nav-label__button-close {
  display: block;
  z-index: 6;
  position: fixed;
  left: 95%;
}
.header .header-nav .header-nav-container .header-nav-label__button-close > path:hover {
  fill: #2196F3;
}
.header .header-nav .header-nav-container .header-nav-container__input:checked ~ .header-nav-label > .header-nav-label__button-open {
  display: none;
}
.header .header-nav .header-nav-container .header-nav-container__input:checked ~ .header-nav-container-second {
  display: block;
}
.header .header-nav .header-nav-container .header-nav-container-second {
  display: none;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  padding-top: 48px;
  overflow: auto;
}
.header .header-nav .header-nav-container .header-nav-container-second .header-nav-container-list {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
@media screen and (max-width: 768px) {
  .header .header-nav .header-nav-container .header-nav-container-second .header-nav-container-list {
    display: none;
  }
}
.header .header-nav .header-nav-container .header-nav-container-second .header-nav-container-list .header-nav-container-list__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #212121;
}
.header .header-nav .header-nav-container .header-nav-container-second .header-nav-container-list .header-nav-container-list__item {
  margin-bottom: 35px;
}
.header .header-nav .header-nav-container .header-nav-container-second .header-nav-container-list .header-nav-container-list__link-first {
  color: #2196F3;
}
@media screen and (max-width: 768px) {
  .header .header-nav .header-nav-container .header-nav-container-second .header-nav-container-social-list {
    display: none;
  }
}
.header .header-nav .header-nav-container .header-nav-container-second .header-nav-container-list__tel {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.header .header-nav .header-nav-container .header-nav-container-second .header-nav-container-list__item--tel {
  margin-top: 220px;
  margin-bottom: 32px;
}
.header .header-nav .header-nav-container .header-nav-container-second .header-nav-container-list__email {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header .header-nav .header-nav-container .header-nav-container-social-list .header-nav-container-social-list__item {
  margin-right: 20px;
}
.header .header-nav .header-nav-container .header-nav-container-social-list .header-nav-container-social-list__item:nth-child(1) {
  margin-left: 40px;
}
.header .header-nav .header-nav-container .header-nav-container-social-list .header-nav-container-social-list__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.header .header-nav-label {
  position: relative;
}
.header .header-nav__link {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196F3;
  margin-right: 85px;
  min-width: 134px;
  min-height: 28px;
  margin-left: 16px;
}
@media screen and (min-width: 480px) {
  .header .header-nav__link {
    margin-right: 85px;
  }
}
@media screen and (min-width: 768px) {
  .header .header-nav__link {
    margin-right: 88px;
    min-width: 134px;
    min-height: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .header .header-nav__link {
    margin-right: 93px;
    min-height: 31px;
    min-width: 145px;
    margin-left: auto;
  }
}
.header .header-nav__studio {
  color: black;
}
.header .header-nav-list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header .header-nav-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header .header-nav-list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header .header-nav-list {
    display: flex;
  }
}
.header .header-nav-list .header-nav-list__link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.header .header-nav-list .header-nav-list__link--studio {
  color: #2196F3;
  position: relative;
}
.header .header-nav-list .header-nav-list__link--studio::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  top: 44px;
  left: 0;
  /* animation */
  transition: transform 500ms;
}
.header .header-nav-list .header-nav-list__link--studio:after, .header .header-nav-list .header-nav-list__link--portfolio:after {
  animation: animateAfter 1000ms infinite alternate;
}
@keyframes animateAfter {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scaleX(0.1);
  }
}
.header .header-nav-list .header-nav-list__link--portfolio::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  top: 44px;
  left: 0;
  /* animation */
  transition: transform 500ms;
}
.header .header-nav-list .header-nav-list__link--portfolio {
  color: #2196F3;
  position: relative;
}
.header .header-nav-list .header-nav-list__item {
  margin-right: 50px;
}
.header .header-nav-list .header-nav-list__item:last-child {
  margin-right: 0px;
}

.header-contact-list {
  display: flex;
}
@media screen and (max-width: 768px) {
  .header-contact-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-contact-list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact-list {
    display: flex;
    flex-direction: row;
  }
}
.header-contact-list .header-contact-list__email, .header-contact-list .header-contact-list__tel {
  display: flex;
  gap: 10px;
}
.header-contact-list .header-contact-list__tel {
  width: 142px;
  height: 16px;
}
@media screen and (min-width: 1200px) {
  .header-contact-list .header-contact-list__tel {
    margin-top: auto;
  }
}
.header-contact-list .header-contact-list__item:hover .header-contact-list__email {
  color: #2196F3;
  fill: #2196F3;
}
.header-contact-list .header-contact-list__item:hover .header-contact-list__tel {
  color: #2196F3;
  fill: #2196F3;
}
.header-contact-list .header-contact-list__tel, .header-contact-list .header-contact-list__email {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  fill: #757575;
  /* animation */
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-list .header-contact-list__item:not(:last-child) {
  margin-right: 30px;
}

.hero .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.overlay {
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imageForBG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 480px;
  height: 400px;
}
@media screen and (min-width: 768px) {
  .overlay {
    height: 400px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    height: 600px;
    width: 1600px;
  }
}

.hero {
  display: flex;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
  margin: 0 auto;
}
.hero .hero__title {
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: 1.62;
  width: 80vw;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero .hero__title {
    font-size: 26px;
    line-height: 1.62;
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero .hero__title {
    font-size: 26px;
    line-height: 1.62;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 697px;
  }
}
.hero .hero__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 5;
}
.hero .is-hidden {
  opacity: 0;
  pointer-events: none;
}
.hero .no-scroll {
  overflow: hidden;
}
.hero .hero__backdrop.is-hidden .hero__modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.1);
}
.hero .hero__modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: 80%;
  overflow-y: scroll;
  padding: 15px;
  background-color: white;
  padding-top: 40px;
  border-radius: 1%;
  opacity: 1;
  /* animation */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .hero .hero__modal {
    width: 450px;
    height: 609px;
    overflow-y: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .hero .hero__modal {
    width: 528px;
    height: 581px;
    overflow-y: hidden;
  }
}
.hero .hero__modal .hero__btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.hero .hero__icon {
  /* animation */
  transition-property: transform;
  transition-duration: 250ms;
}
.hero .hero__icon:hover {
  transform: rotate(360deg);
}
.hero .hero__btn {
  border-radius: 50%;
  background-color: white;
  border-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.hero .hero__btn:hover path {
  fill: #2196F3;
}
.hero .hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px;
  cursor: pointer;
  padding: 10px 32px;
  width: auto;
}
@media screen and (min-width: 768px) {
  .hero .hero__button {
    padding: 10px 32px;
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .hero .hero__button {
    padding: 10px 32px;
    width: auto;
  }
}
.hero .hero__button:active {
  scale: 1.1;
}
.hero .form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero .form .form__description {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.hero .form .form__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: white;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px;
  cursor: pointer;
}
.hero .form .form__textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 50%;
  height: 10%;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .hero .form .form__textarea {
    width: 370px;
    height: 138px;
  }
}
@media screen and (min-width: 768px) {
  .hero .form .form__textarea {
    width: 370px;
    height: 138px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .form .form__textarea {
    width: 448px;
    height: 138px;
  }
}
.hero .form .form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.hero .form .form-checkbox {
  margin-bottom: 30px;
}
.hero .form .form-checkbox .form-checkbox__span > a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196F3;
}
.hero .form .form-checkbox .form-checkbox__label {
  margin-left: 8.38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero .form .form__container {
  position: relative;
  width: 70%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .hero .form .form__container {
    width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .hero .form .form__container {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .form .form__container {
    width: 448px;
  }
}
.hero .form .form__input {
  border-radius: 4px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  text-indent: 35px;
  cursor: pointer;
}
.hero .form svg[width="18px"][height="18px"] {
  position: absolute;
  top: 25%;
  left: 12px;
}
.hero .form .form__input:focus-within, .hero .form .form__textarea:focus-within {
  outline: 1px solid #2196F3;
  cursor: auto;
}
.hero .form .form__label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.hero .form .form__label--first {
  margin-right: 65%;
}
@media screen and (min-width: 480px) {
  .hero .form .form__label--first {
    margin-right: 340px;
  }
}
@media screen and (min-width: 768px) {
  .hero .form .form__label--first {
    margin-right: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .form .form__label--first {
    margin-right: 426px;
  }
}
.hero .form .form__label--second {
  margin-right: 62%;
}
@media screen and (min-width: 480px) {
  .hero .form .form__label--second {
    margin-right: 330px;
  }
}
@media screen and (min-width: 768px) {
  .hero .form .form__label--second {
    margin-right: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .form .form__label--second {
    margin-right: 398px;
  }
}
.hero .form .form__label--third {
  margin-right: 65%;
}
@media screen and (min-width: 480px) {
  .hero .form .form__label--third {
    margin-right: 340px;
  }
}
@media screen and (min-width: 768px) {
  .hero .form .form__label--third {
    margin-right: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .form .form__label--third {
    margin-right: 407px;
  }
}
.hero .form .form__label--fourth {
  margin-right: 30%;
}
@media screen and (min-width: 480px) {
  .hero .form .form__label--fourth {
    margin-right: 320px;
  }
}
@media screen and (min-width: 768px) {
  .hero .form .form__label--fourth {
    margin-right: 320px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .form .form__label--fourth {
    margin-right: 391px;
  }
}

/* .form-container:focus-within .icon-hero-svg{ */
/* fill: var(--color-one); -???????????? */
/* } */
.futures .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.futures {
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .futures {
    padding-top: 94px;
    padding-bottom: auto;
  }
}
.futures .futures__title {
  display: none;
}
.futures .futures-list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .futures .futures-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .futures .futures-list {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 480px) {
  .futures .futures-list .futures-list__item {
    flex-basis: 226px;
  }
}
@media screen and (min-width: 768px) {
  .futures .futures-list .futures-list__item {
    flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .futures .futures-list .futures-list__item {
    margin-right: 30px;
    flex-basis: 270px;
  }
}
.futures .futures-list .futures-list__item::before {
  margin-bottom: 30px;
  content: "";
  display: inline-block;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  width: 100vw;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 480px) {
  .futures .futures-list .futures-list__item::before {
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .futures .futures-list .futures-list__item::before {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .futures .futures-list .futures-list__item::before {
    width: 270px;
    height: 120px;
  }
}
.futures .futures-list .futures-list__item:nth-child(1):before {
  background-image: url(../images/antenna.svg);
}
.futures .futures-list .futures-list__item:nth-child(2):before {
  background-image: url(../images/clock.svg);
}
.futures .futures-list .futures-list__item:nth-child(3):before {
  background-image: url(../images/diagram.svg);
}
.futures .futures-list .futures-list__item:nth-child(4):before {
  background-image: url(../images/astronaut.svg);
}
.futures .futures-list .futures-list .futures-list__item {
  margin-right: 0px;
}
@media screen and (min-width: 1200px) {
  .futures .futures-list .futures-list__item {
    margin-right: -30px;
  }
}
.futures .futures-list .futures-list__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .futures .futures-list .futures-list__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .futures .futures-list .futures-list__title {
    text-align: start;
  }
}
.futures .futures-list .futures-list__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  width: 100vw;
  text-align: start;
}
@media screen and (min-width: 480px) {
  .futures .futures-list .futures-list__description {
    width: 450px;
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .futures .futures-list .futures-list__description {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .futures .futures-list .futures-list__description {
    width: 300px;
  }
}

.activities {
  padding-bottom: 94px;
  padding-top: 94px;
}
@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}
.activities .activities__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.activities .activities-list {
  display: flex;
}
.activities .activities-list .activities-list__description {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}
.activities .activities-list .activities-list__container {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 224px;
}
.activities .activities-list .activities-list__item {
  margin-right: 30px;
  position: relative;
}
.activities .activities-list .activities-list__item:last-child {
  margin-right: 0;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team .team__title {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
  width: 80vw;
}
@media screen and (min-width: 480px) {
  .team .team__title {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .team .team__title {
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .team .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.team .team__list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .team .team__list {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .team .team__list {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .team .team__list {
    display: flex;
    flex-direction: row;
  }
}
.team .team-item {
  flex-basis: 450px;
  border-radius: 0 0 4px 4px;
  background-color: white;
  padding-bottom: 30px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 480px) {
  .team .team-item {
    flex-basis: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team .team-item {
    flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team .team-item {
    flex-basis: 270px;
  }
}
.team .team-item .team-item__img {
  margin-bottom: 30px;
  width: 480px;
}
@media screen and (min-width: 768px) {
  .team .team-item .team-item__img {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .team .team-item .team-item__img {
    width: 270px;
  }
}
.team .team-item .team-item__description {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
}
.team .team-item .team-item__link {
  fill: rgb(175, 177, 184);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.team .team-item .team-item__title {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 16px;
}
.team .team-item .team-item__list {
  gap: 10px;
}
.team .team-item .team-item__item {
  /* outline: 1px solid red; */
  border: 0px solid;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team .team-item .team-item__link {
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team .team-item .team-item__item:hover .team-item__link {
  fill: white;
  background-color: #2196F3;
}
.team .team__list .team-item:last-child {
  margin-right: 0;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.clients .clients__title {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.clients .clients-list {
  gap: 30px;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
@media screen and (min-width: 768px) {
  .clients .clients-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
  }
}
@media screen and (min-width: 1200px) {
  .clients .clients-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.clients .clients-list .clients-list__item {
  flex-basis: 210px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(175, 177, 184);
  cursor: pointer;
  border-radius: 4px;
  /* animation */
  transition-property: border-color;
  transition-duration: none;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: none;
}
@media screen and (min-width: 768px) {
  .clients .clients-list .clients-list__item {
    flex-basis: 226px;
  }
}
@media screen and (min-width: 768px) {
  .clients .clients-list .clients-list__item {
    flex-basis: 170px;
  }
}
.clients .clients-list .clients-list__link {
  fill: rgb(175, 177, 184);
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation */
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .clients-list .clients-list__item:hover .clients-list__link {
  fill: #2196F3;
}
.clients .clients-list .clients-list__item:hover {
  border-color: #2196F3;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    flex-direction: row;
    justify-content: auto;
    align-items: auto;
  }
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .footer-container {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer .footer-container {
    grid-column: 1/2;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-container {
    margin-right: 70px;
  }
}
.footer .footer-container .footer-container__studio {
  color: white;
}
.footer .footer-container .footer-container__web {
  color: #2196F3;
}
.footer .footer-container .footer-container__link {
  margin-bottom: 20px;
  display: inline-flex;
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer .footer-container .footer-container__link {
    display: block;
  }
}
.footer .footer-container .footer-address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer .footer-container .footer-address-list {
    align-items: start;
  }
}
.footer .footer-container .footer-address-list .footer-address-list__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: white;
  font-style: normal;
}
.footer .footer-container .footer-address-list .footer-address-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer .footer-container .footer-address-list .footer-address-list__item:nth-child(2) {
  margin-top: 9px;
}
.footer .footer-container .footer-address-list .footer-address-list__item:nth-child(3) {
  margin-top: 9px;
}
.footer .footer-container-second {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer .footer-container-second {
    grid-column: 2/3;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-container-second {
    align-items: start;
  }
}
.footer .footer-container-second .footer-container-second__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}
.footer .footer-container-second .footer-container-second-list {
  display: flex;
}
.footer .footer-container-second .footer-container-second-list .footer-container-second-list__item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-container-second .footer-container-second-list .footer-container-second-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-container-second .footer-container-second-list .footer-container-second-list__item {
  cursor: pointer;
}
.footer .footer-container-second .footer-container-second-list .footer-container-second-list__item {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .footer-container-second .footer-container-second-list .footer-container-second-list__item:hover {
  background-color: #2196F3;
}
.footer .footer-container-second .footer-container-second-list .footer-container-second-list__link {
  fill: white;
}
.footer .footer-container-third {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer .footer-container-third {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-container-third {
    margin-left: 93px;
    margin-bottom: 45px;
  }
}
.footer .footer-container-third .footer-container-third__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer .footer-container-third .footer-container-third__title {
    display: block;
  }
}
.footer .footer-container-third .footer-form .footer-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 85vw;
  height: 50px;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(33, 150, 243, 0);
  caret-color: white;
  color: white;
}
@media screen and (min-width: 480px) {
  .footer .footer-container-third .footer-form .footer-form__input {
    width: 450px;
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .footer .footer-container-third .footer-form .footer-form__input {
    width: 450px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-container-third .footer-form .footer-form__input {
    width: 358px;
    height: 50px;
  }
}
.footer .footer-container-third .footer-form .footer-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: white;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px;
  cursor: pointer;
}
.footer .footer-container-third .footer-form .footer-form__input:focus-within {
  outline: none;
}
.footer .footer-container-third .footer-form .footer-form__list {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer .footer-container-third .footer-form .footer-form__list {
    flex-direction: row;
  }
}
.footer .footer-container-third .footer-form .footer-form__list .footer-form__button:active {
  transform: scale(1.1);
}
.footer .footer-container-third .footer-form .footer-form__list .footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.header .header-nav .header-nav-container-second .header-nav-container-list__link-portfolio {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.portfolio {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
}
.portfolio .portfolio__title {
  display: none;
}
.portfolio .portfolio-button-list {
  margin-bottom: 40px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-right: 100%;
  /* margin-top: 94px; */
}
@media screen and (min-width: 1200px) {
  .portfolio .portfolio-button-list {
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.portfolio .portfolio-button-list .portfolio-button-list__button, .portfolio .portfolio-button-list .portfolio-button-list__button--first {
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2F303A;
  border: 0px solid;
}
.portfolio .portfolio-button-list .portfolio-button-list__button {
  padding: 6px 22px;
}
.portfolio .portfolio-button-list .portfolio-button-fourth .portfolio-button-five {
  grid-column: span 1;
}
.portfolio .portfolio-button-list .portfolio-button-list__button:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background: #2196F3;
  color: white;
}
.portfolio .portfolio-button-list .portfolio-button-list__button--first:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background: #2196F3;
  color: white;
}
.portfolio .portfolio-button-list .portfolio-button-list__button--first {
  padding: 6px 25px;
}
@media screen and (min-width: 1200px) {
  .portfolio .portfolio-button-list .portfolio-button-list__item:not(:last-child) {
    margin-right: 8px;
  }
}
.portfolio .portfolio-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio .portfolio-card-list .portfolio-card-list__item {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio .portfolio-card-list .portfolio-card-list__item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.portfolio .portfolio-card-list .portfolio-card-list__item:nth-child(3), .portfolio .portfolio-card-list .portfolio-card-list__item:nth-child(6), .portfolio .portfolio-card-list .portfolio-card-list__item:nth-child(9) {
  margin-right: 0px;
}
.portfolio .portfolio-card-list .portfolio-card-list__item:nth-child(9), .portfolio .portfolio-card-list .portfolio-card-list__item:nth-child(8), .portfolio .portfolio-card-list .portfolio-card-list__item:nth-child(7) {
  margin-bottom: 0px;
}
.portfolio .portfolio-card-list .container-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio .portfolio-card-list .container-overlay .container-overlay__overlay {
  position: absolute;
  width: 100%;
  height: 294px;
  top: 0px;
  left: 0px;
  transform: translateY(100%);
  background-color: #2196F3;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  /* animation */
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .portfolio-card-list .container-overlay .container-overlay__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: white;
  width: 322px;
}
.portfolio .portfolio-card-list .container-overlay:hover .container-overlay__overlay {
  transform: translateY(0%);
  transition: transform 0.4s ease-in-out;
}
.portfolio .portfolio-card-list .text-for-card {
  border-bottom: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
  padding: 20px 24px;
}
.portfolio .portfolio-card-list .text-for-card .text-for-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio .portfolio-card-list .text-for-card .text-for-card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */