.header > .container {
    @include FLXcntr;
    position: relative;
    /* margin-left: 215px; */
}
.header{
    background-color: rgb(255, 255, 255);
    padding-top: 17px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    // position:fixed;
    width: 100%;
    // z-index: 3;
    @media screen and (min-width:$tablet) 
    {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    @media screen and (min-width:$desktop) 
    {
        padding-top: 24px;
        padding-bottom: 25px;
    }

    .header-nav{
        @include FLXcntr;
        @media screen and (min-width:$tablet) 
        {
            margin-right: 60px;
        }
        @media screen and (min-width:$desktop) 
        {
            margin-right: 318px;
        }
        .header-nav-container{
            position: absolute;
            margin-left: 90%;
            @media screen and (min-width:$tablet) {
                display: none;
            }
            
                .header-nav-container__input{
                    display: none;
                }
                .header-nav-label__button-close{
                    display: none;
                }
                .header-nav-container__input:checked~.header-nav-container-second>.header-nav-container-list{
                    display: flex;
                }
                .header-nav-container__input:checked~.header-nav-container-second>.header-nav-container-social-list{
                    display: flex;
                }
                .header-nav-container__input:checked~.header-nav-label>.header-nav-label__button-close{
                    display: block;
                    z-index: 6;
                    position: fixed;
                    left: 95%;
                }
                // .header-nav-label{
                //    margin-left: 200px;
                // }
                .header-nav-label__button-close>path:hover{
                    fill: getColor('color-one');
                }
                .header-nav-container__input:checked~.header-nav-label>.header-nav-label__button-open{
                    display: none;
                }
                .header-nav-container__input:checked~.header-nav-container-second{
                    display: block;
                }
                // .header-nav-container__input:checked~.header-nav-label__button-close{
                    // display: none;
                // }
                .header-nav-container-second{
                    display: none;
                    background-color: white;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 5;
                    padding-top: 48px;
                    overflow: auto;
                .header-nav-container-list{
                    @media screen and (max-width:$tablet) {
                        display: none;
                    }
                    
                    display: flex;
                    flex-direction: column;
                    padding-left: 40px;
                    .header-nav-container-list__link{
                        font-family: getFont('font-family');
                        font-weight: 500;
                        font-size: 40px;
                        letter-spacing: 0.02em;
                        color:getColor('color-two');
                        
                    }
                    .header-nav-container-list__item{
                        margin-bottom: 35px;
                    }
                    .header-nav-container-list__link-first{
                        color: getColor('color-one');
                    }
                }
                .header-nav-container-social-list{
                    @media screen and (max-width:$tablet) {
                        display: none;
                    }
                }
                .header-nav-container-list__tel{
                    font-family: getFont('font-family');
                    font-weight: 500;
                    font-size: 34px;
                    letter-spacing: 0.02em;
                    color: getColor('color-one');
                }
                .header-nav-container-list__item--tel{
                    margin-top: 220px;
                    margin-bottom: 32px;
                }
                .header-nav-container-list__email{
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 24px;
                    letter-spacing: 0.02em;
                    color: getColor('color-three');
                    
                }
            }
            .header-nav-container-social-list{
                
                .header-nav-container-social-list__item{
                    margin-right: 20px;
                    
                }
                .header-nav-container-social-list__item:nth-child(1)
                {
                    margin-left: 40px;
                }
                .header-nav-container-social-list__link{
                    font-family: getFont('font-family');
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 122%;
                    letter-spacing: 0.02em;
                    color:getColor('color-one');
                }
            }
        }
        }
        .header-nav-label{
            position: relative;
        }

        .header-nav__link{  
            font-family:getFont('second-family');
            text-decoration: none;
            font-weight: 700;
            font-size: 26px;
            letter-spacing: 0.03em;
            color:getColor('color-one');
            margin-right:85px;
            min-width: 134px;
            min-height: 28px;
            margin-left: 16px;
            @media screen and (min-width:$mobile) 
            {
                margin-right:85px;
            }
            @media screen and (min-width:$tablet) 
            {
                margin-right:88px;
                min-width: 134px;
                min-height: 28px;
            }
            @media screen and (min-width:$desktop) 
            {
                margin-right:93px;
                min-height: 31px;
                min-width: 145px;
                margin-left: auto;
            }
        }
        .header-nav__studio{
            color:black;
        }
        .header-nav-list{
            @include FLXcntr;
            @media screen and (max-width:$tablet) {
                display: none;
            }
            @media screen and (min-width:$tablet) {
                display: flex;
            }
            @media screen and (min-width:$desktop) {
                display: flex;
            }

            .header-nav-list__link{
                // position: relative;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.02em;
                color:getColor('color-two');
                text-decoration: none;
            }
            .header-nav-list__link--studio{
                color: getColor('color-one');
                position: relative;
            }
            .header-nav-list__link--studio::after{
                content: "";
                position: absolute;
                width: 48px;
                height: 4px;
                border-radius: 2px;
                background-color: getColor('color-one');
                top: 44px;
                left: 0;
                /* animation */
                transition: transform 500ms;
            }
            .header-nav-list__link--studio:after ,.header-nav-list__link--portfolio:after {
                animation: animateAfter 1000ms infinite alternate;
            }
            @keyframes animateAfter{
                0%{
                    transform: scale(1);
                }
                100%{
                    transform: scaleX(0.1);
                }
            }
            .header-nav-list__link--portfolio::after{
                content: "";
                position: absolute;
                width: 75px;
                height: 4px;
                border-radius: 2px;
                background-color: getColor('color-one');
                top: 44px;
                left: 0;
                /* animation */
               transition: transform 500ms;
            }
            .header-nav-list__link--portfolio{
                color: getColor('color-one');
                position: relative;
            }
            .header-nav-list__item{
                margin-right:50px;
            }
            .header-nav-list__item:last-child{
                margin-right:0px;
            }
        }
    }
    .header-contact-list{
        display: flex; 

        @media screen and (max-width:$tablet) {
            display: none;
        }
        @media screen and (min-width:$tablet) {
            display: flex;
           flex-direction: column; 
        }
        @media screen and (min-width:$desktop) {
            display: flex;
            flex-direction: row;
        }

        .header-contact-list__email,.header-contact-list__tel{
            display: flex;
            gap: 10px;
        }
        .header-contact-list__tel{
            width: 142px;
            height: 16px;

            @media screen and (min-width:$desktop) {
                margin-top: auto;
            }
        }
        .header-contact-list__item:hover .header-contact-list__email{
            color: getColor('color-one');
            fill: getColor('color-one');
        }
        .header-contact-list__item:hover .header-contact-list__tel{
            color: getColor('color-one');
            fill: getColor('color-one');
        }
        .header-contact-list__tel, .header-contact-list__email{
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
            text-decoration: none;
            color: getColor('color-three');
            fill: getColor('color-three');
             /* animation */
            transition-property: color , fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
        }
        .header-contact-list__item:not(:last-child){
            margin-right:30px;
        }
    }