
.hero .container{
    @include FLXcntrC0LMN;
 } 
 .overlay{
     background-color:getColor('color-for-first-third-background');    
     background-image:
     linear-gradient(
         to right ,
         getColor('color-for-BG-in-hero'),
         getColor('color-for-BG-in-hero'));
        //  url(../images/imageForBG.jpg); 
     background-size: cover; 
     background-position: center;  
     background-repeat: no-repeat;
     width: 480px;
     height: 400px;
     background-image: url(../images/hero-d-1x.jpg);
     
     @media(min-device-pixel-ratio: 2), 
     (-webkit-min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx){
        .overlay{
            background-image: url(../images/hero-d-2x.jpg);
        }
     }
     @media screen and (min-width:$tablet){
        height: 400px;
        width: 768px;
     }
     @media screen and (min-width:$desktop) {
        height: 600px;
        width: 1600px;
     }
 }
 .hero{
    @include FLXcntr;
    padding-top:200px;
    padding-bottom:200px;  
    width: 100%; 
    margin: 0 auto;
    .hero__title{
        font-family: getFont(roboto);
        font-weight: 900;
        letter-spacing: 0.06em;
        font-size: 26px;
        line-height: 1.62;
        width: 80vw;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
        

        @media screen and (min-width:$mobile) {
            font-size: 26px;
            line-height: 1.62;
            width: 360px;
        }
        @media screen and (min-width:$tablet) {
            font-size: 26px;
            line-height: 1.62;
            width: 360px;
        }

        @media screen and (min-width:$desktop) {
            font-size: 44px;
            line-height: 1.36;
            width: 697px;
            
        }
    }
    .hero__backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        z-index: 5;
    }
    .is-hidden {
        opacity: 0;
        pointer-events: none;
    }
    .no-scroll {
        overflow: hidden;
    }
    .hero__backdrop.is-hidden .hero__modal {
        opacity: 0;
        transform: translate(-50% , -50%) scale(0.1);
    }
    .hero__modal{
        opacity: 0;
        transform: translate(-50% , -50%) scale(0.1);
         position: absolute;
         top: 50%;
         left: 50%;
         transform:translate(-50% , -50%) scale(1);
         width: 90%;
         height: 80%;
         overflow-y: scroll;
         padding: 15px;
         background-color: white;
         padding-top: 40px;
         border-radius: 1%;
         opacity: 1;
         /* animation */
         transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

         @media screen and (min-width:$tablet){
            width: 450px;
            height: 609px;
            overflow-y: hidden;
         }
         @media screen and (min-width:$desktop){
            width: 528px;
            height: 581px;
            overflow-y: hidden;
         }
     }
     .hero__modal .hero__btn{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .hero__icon{
        /* animation */
        transition-property: transform;
        transition-duration: 250ms;
    }
    .hero__icon:hover{
        transform: rotate(360deg);
    }
    .hero__btn{
        border-radius: 50%;
        background-color: white;
        border-color: rgba(0, 0, 0, 0.1);
        @include FLXAIcntrJCcntr;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .hero__btn:hover path {
        fill:getColor('color-one');
    }
    .hero__button{
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        background-color: getColor('color-one'); 
        color: white;
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        border: 1px;
        cursor: pointer;
        padding:10px 32px;
        width: auto;
        
        @media screen and (min-width:$tablet) {
            padding:10px 32px;
            width: auto;
        }
        @media screen and (min-width:$desktop) {
            padding:10px 32px;
            width: auto;
        }
    }
    .hero__button:active{
        scale: 1.1;
    }
    .form{
        @include FLXcntrC0LMN;
        justify-content: center;

        .form__description{
            font-weight: 700;
            font-size: 20px;
            letter-spacing: 0.03em;
            text-align: center;
            color: getColor('color-two');
            margin-bottom: 12px;
        }
        .form__button {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            letter-spacing: 0.06em;
            background-color: getColor('color-one'); 
            color: white;
            padding:10px 32px;
            border-radius: 4px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            border: 1px;
            cursor: pointer;
        }
        .form__textarea{
            resize: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            width: 50%;
            height: 10%;
            cursor: pointer;
            padding-top: 12px;
            padding-left: 16px;
            margin-bottom: 20px;

            @media screen and (min-width:$mobile){
                width: 370px;
                height: 138px;
            }

            @media screen and (min-width:$tablet){
                width: 370px;
                height: 138px;
            }
            @media screen and (min-width:$desktop){
                width: 448px;
                height: 138px;
            }
        }
        .form__textarea::placeholder{
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.01em;
            color:getColor('color-for-textarea');
        }
        .form-checkbox{
            @extend %FLXdrctROWrvrs;
            margin-bottom: 30px;
            
            .form-checkbox__span > a{
                text-decoration: underline;
                text-decoration-skip-ink: none;
                color: getColor('color-one');
            }
            .form-checkbox__label{
                margin-left: 8.38px;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: 0.03em;
                color: getColor('color-three');
            }
        }
        .form__container{
            position: relative;
            width: 70%;
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            @media screen and (min-width:$mobile) {
                width: 370px;
            }

            @media screen and (min-width:$tablet){
                width: 370px;
            }
            @media screen and (min-width:$desktop) {
                width: 448px;
            }
        }
        .form__input{
            border-radius: 4px;
            width: 448px;
            height: 40px;
            border: 1px solid getColor('color-for-focus-form');
            text-indent: 35px;
            cursor: pointer;
            
        }
        svg[width="18px"][height="18px"]{
            position: absolute;
            top: 25%;
            left: 12px;
        }
        .form__input:focus-within ,.form__textarea:focus-within{
            outline:1px solid getColor('color-one');
            cursor: auto;
        }
        .form__label{
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.01em;
            color: getColor('color-three');
            margin-bottom: 4px;
            
        }
        .form__label--first{
            margin-right: 65%;
            @media screen and (min-width:$mobile) {
                margin-right: 340px;
            }
            @media screen and (min-width:$tablet) {
                margin-right: 340px;
            }
            @media screen and (min-width:$desktop) {
                margin-right: 426px;
            }
        }
        .form__label--second{
            margin-right:62%;

            @media screen and (min-width:$mobile) {
                margin-right: 330px;
            }
            @media screen and (min-width:$tablet) {
                margin-right: 330px;
            }
            @media screen and (min-width:$desktop) {
                margin-right: 398px;
            }
        }
        .form__label--third{
            margin-right:65%;

            @media screen and (min-width:$mobile) {
                margin-right: 340px;
            }
            @media screen and (min-width:$tablet) {
                margin-right: 340px;
            }
            @media screen and (min-width:$desktop) {
                margin-right: 407px;
            }
        }
        .form__label--fourth{
            margin-right:30%;

            @media screen and (min-width:$mobile) {
                margin-right: 320px;
            }
            @media screen and (min-width:$tablet) {
                margin-right: 320px;
            }
            @media screen and (min-width:$desktop) {
                margin-right: 391px;
            }
        }
    }
    
     
} 

 /* .form-container:focus-within .icon-hero-svg{ */
     /* fill: var(--color-one); -???????????? */
 /* } */