.header{
    .header-nav{
        .header-nav-container-second{
            .header-nav-container-list__link-portfolio{
                font-family: getFont('font-family');
                font-weight: 500;
                font-size: 40px;
                letter-spacing: 0.02em;
                color:getColor('color-one');
    }
}
}
}


.portfolio{
    padding: 60px 0;

    @media screen and (min-width:$desktop) {
        padding: 94px 0;
    }

    .portfolio__title{
        display:none;
    }
    .portfolio-button-list{
        margin-bottom:40px;
        padding-bottom:16px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin-right: 100%;

        @media screen and (min-width:$desktop){
            margin-bottom:34px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* margin-top: 94px; */

        .portfolio-button-list__button,.portfolio-button-list__button--first{
            border-radius: 4px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            letter-spacing: 0.03em;
            text-align: center;
            color:getColor('color-for-first-third-background');
            border: 0px solid ;
        }
        .portfolio-button-list__button{
            padding:6px 22px;
        }
        .portfolio-button-fourth
        .portfolio-button-five{
            grid-column: span 1;
        }
        .portfolio-button-list__button:active{
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
            background: getColor('color-one');
            color: white;
        }
        .portfolio-button-list__button--first:active{
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
            background: getColor('color-one');
            color:white;
        }
        .portfolio-button-list__button--first{
            padding:6px 25px;
        }
        .portfolio-button-list__item:not(:last-child){
            @media screen and (min-width:$desktop) {
                margin-right: 8px;
            }
        }
    }
    .portfolio-card-list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .portfolio-card-list__item{
            flex-basis: calc((100% - 60px) / 3);
        }
        .portfolio-card-list__item:hover{
            box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12)
        }
        .portfolio-card-list__item:nth-child(3),.portfolio-card-list__item:nth-child(6),.portfolio-card-list__item:nth-child(9){
            margin-right:0px;
        }
        .portfolio-card-list__item:nth-child(9) , .portfolio-card-list__item:nth-child(8) , .portfolio-card-list__item:nth-child(7){
            margin-bottom:0px;
        }
        .container-overlay{
            position: relative;
            overflow: hidden;

            .container-overlay__overlay{
                position: absolute;
                width: 100%;
                height: 294px;
                top: 0px;
                left: 0px;
                transform: translateY(100%);
                background-color: getColor('color-one');
                @include FLXAIcntrJCcntr;
                opacity: 0.9;
                /* animation */
                transition-property:transform;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
            .container-overlay__description{
                font-weight: 400;
                font-size: 18px;
                line-height: 1.56;
                letter-spacing: 0.03em;
                color: white;
                width: 322px;
            }
            
        }
        .container-overlay:hover .container-overlay__overlay{
            transform: translateY(0%); 
            transition: transform 0.4s ease-in-out;
        }
        .text-for-card{
            border-bottom:1px solid getColor('color-for-border-inPortfolio');
            border-right:1px solid getColor('color-for-border-inPortfolio');
            border-left: 1px solid getColor('color-for-border-inPortfolio');
            padding: 20px 24px;

            .text-for-card__title{
                font-weight: 700;
                font-size: 18px;
                line-height: 2;
                letter-spacing: 0.06em;
                color: getColor('color-two');
            }
            .text-for-card__description{
                font-weight: 400;
                font-size: 16px;
                line-height: 1.87;
                letter-spacing: 0.03em;
                color: getColor('color-three');
            }
        }
    }
}
